ion-content{
    --background:#fff;

    #heading{
        font-size: 25px;
        font-family: var(--font-primary);
        font-weight: bold;
        margin: 25px;
        color: var(--ion-color-primary);
    }
}