<section>
  <h3 class="ion-text-center ion-margin">Select booking type</h3>
  <ion-grid>
    <form [formGroup]="bookingForm" (ngSubmit)="submit()">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="dropdown-container">
            <ion-label>Book For</ion-label>
            <ion-select placeholder="Select One"  formControlName="bookedFor" >
              <ion-select-option >1 day</ion-select-option>
              <ion-select-option >2 day</ion-select-option>
              <ion-select-option >1 week</ion-select-option>
              <ion-select-option >1 month</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="dropdown-container">
            <ion-label>Time Slot</ion-label>
            <ion-select placeholder="Select One"  formControlName="timeSlot" >
              <ion-select-option >10am-12pm</ion-select-option>
              <ion-select-option>12pm-2pm</ion-select-option>
              <ion-select-option >3pm-5pm</ion-select-option>
              <ion-select-option >5pm-7pm</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <span>Select Date</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="card">
          <ion-datetime  formControlName="date" locale="en-GB-u-hc-h12" class="date"></ion-datetime>
        </div>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="ion-text-center">

        <ion-button [disabled]="!bookingForm.valid" expand="full" type="submit"  class="ion-margin" >Next</ion-button>
      </ion-col>
    </ion-row>
  </form>
  </ion-grid>
</section>
