section {
  font-family: var(--font-primary);
  .container {
    display: flex;
    width: 100vw;
    height: 55px;
    background-color: var(--ion-color-primary);
    .slot {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(255, 255, 255, 0.475);
    }
    .active {
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.395)
      );
    }
  }
  h3 {
    margin-top: 30px;
    color: #0c3fd4;
    font-weight: 400;
  }
  .dropdown-container {
    height: 45px;
    width: 86vw;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.24);

    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px;
    color: #4d5d8b;
  }
  span {
    color: #0c3fd4;
    margin: auto;
  }
  .card {
    border-radius: 20px;
    width: 86vw;
    margin: auto;
    padding: 10px;
    color: #000;
    background-color: rgb(255, 255, 255);
  }
  .date {
    background-color: rgb(255, 255, 255);
    color: var(--ion-color-primary);
  }
}
