ion-card-header{
    background: #3880FF;
    border-radius: 10px 10px 0px 0px;
    color: #FFFFFF !important;
    
}

.Plan{
    text-transform: uppercase;
    
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 4px 8px;
}