.Fredoka300 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}

.Fredoka400 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
}

.Fredoka500 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

.Fredoka600 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}

.Fredoka700 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
}


.Nunito200 {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

.Nunito200i {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.Nunito300 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.Nunito300i {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.Nunito400 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.Nunito400i {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.Nunito500 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.Nunito500i {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.Nunito600 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.Nunito600i {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.Nunito700 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.Nunito700i {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.Nunito800 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.Nunito800i {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.Nunito900 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

.Nunito900 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-style: italic;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

.fs-26 {
    font-size: 26px;
}