<app-header pannel="others"></app-header>

<ion-content color="dark">
  <section>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-text class="ion-text-center">Select Seat</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <div class="indicator">
            <b>Booked</b>
            <div class="booked"></div>
            <b>Available</b>
            <div></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="seats">
          <ion-col id="left">
            <ion-card class="seat">A22</ion-card>
          </ion-col>
          <ion-col id="middle">
            <div class="m1"> <ion-card class="seat">A22</ion-card>
              <ion-card class="seat booked">A22</ion-card>
              <ion-card class="seat">A22</ion-card>
              <ion-card class="seat">A22</ion-card>
              <ion-card class="seat">A22</ion-card>
              <ion-card class="seat">A22</ion-card>
              <ion-card class="seat">A22</ion-card></div>
            <div class="m1"> <ion-card class="seat">A22</ion-card></div>
            <!-- <ion-col class="m2">  <ion-card  class="seat">A22</ion-card></ion-col> -->
          </ion-col>
          <ion-col id="right">
            <ion-card class="entrance">Entrance/ Staircase</ion-card>
            <ion-card class="seat">A22</ion-card>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="ion-margin" expand="full" routerLink="/payment">Next</ion-button>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
