section {
  font-family: var(--font-primary);
  color: #000;
  ion-text {
    color: var(--ion-color-primary);
    font-size: 20px;
    margin-top: 50px;
  }
  .indicator {
    display: flex;
    gap: 20px;
    width: 80vw;
    margin: auto;
    margin-top: 35px;
    div {
      background-color: var(--ion-color-primary);

      width: 40px;
      height: 20px;
      border-radius: 2px;
    }
    .booked {
      background-color: rgba(92, 92, 92, 0.33);
    }
  }
  #seats {
    margin: 40px auto 0px;
    display: flex;
    width: 90vw;
    height: 60vh;
    box-sizing: border-box;
      display: flex;
      gap:5px;
position: relative;
      flex-direction: column;
      flex-wrap: wrap;
  
    .seat {
      margin-top: 7px;
      height: 50px;
      width: 50px;
      background-color: var(--ion-color-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-family: var(--font-primary);
      border-radius: 8px;
      color: white;
      font-weight: 400;
      &:hover,&:active{
        background-color: var(--ion-color-success);
      }
    }
    .entrance{
        margin-top: 5px;
        height: 120px;
        width: 100px;
        margin-left: -10px; 
        background-color: rgba(92, 92, 92, 0.33);
        color: rgba(0, 0, 0, 0.39);
        font-weight: 400; 
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 20px;
    
    }
    .booked{
      color:var(--ion-color-secondary);
      background-color: rgba(92, 92, 92, 0.33);
      color: rgba(0, 0, 0, 0.39);
      font-weight: 400; 
      &:hover{
        background-color: rgba(92, 92, 92, 0.33);
      }
    }
  }
}
