
<ion-content>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="img-outer">
            <img  src="assets/connectedDevices.png" alt="">
        </div>
        <div class="border my-4"></div>
        <div class="Nunito500 fs-20 px-3 mb-4 text-start">Connected Devices</div>
        <div class="d-flex justify-content-between align-items-center px-3 w-100">
            <div class="d-flex align-items-center ">
                <div class="">
                    <img width="35" height="35" src="assets/laptop.png" alt="">
                </div>
                <div class="ms-2">
                    <div class="Nunito500 fs-16">Samsung Laptop</div>
                    <div class="Nunito400 fs-13 t-grey">Mac id : 00-B0-D0-63-C2-26.</div>
                </div>
            </div>
            <button class="connected-devices-buton">Log out</button>
        </div>
    </div>
    <ion-button class="exSeat" expand="block" color="primary" fill="solid" >Back</ion-button>
</ion-content>
