// ion-card {
//   flex-direction: column;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   flex-direction: column;
 
// }
// .card{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     font-size: 15px;
    
//   }
//   .table{
//     margin-top: 30px;
//   }
//   .history_table{
//       background-color: #3881ff24;
//   }
//   ion-text{
//       font-family: var(--font-primary);
//       font-size: 20px;
//       font-weight: 600;
//   }

.head1{
  display: flex;
  justify-content: center;
  color: #74A6FF;
}

.container{
  border: 1px solid black;
  background-color: #ffffff;
  padding: .7em;
  margin: 0.3em;
  border-radius: 5px;


  
  

.line1{
  display: flex;

  .heading {
    // display: contents;
    width: 100%;
    margin-left: .7em;

    color: #74A6FF;
    // margin: .5em;
  }
  
  .date{
    // display: inline-block;
    margin-right: .7em;
    align-items: flex-end;
  }
}


.line2{
  display: flex;
  

  span{
    margin-left: 1em;
  }
}

}

