

.head1{
    display: flex;
    justify-content: center;
    color: #74A6FF;
  }
  
  // .container{
  //   //border: 1px solid black;
  //   background-color: #ffffff;
  //   padding: .7em;
  //   margin: 0.3em;
  //   border-radius: 5px;
  //   box-shadow: 0px 18px 50px -15px rgba(0, 0, 0, 0.25);
  
  
    
    
  
  // .line1{
  //   display: flex;
  
  //   .heading {
      
  //     width: 100%;
  //     margin-left: .7em;
  
  //     color: #74A6FF;
      
  //   }
    
  //   .date{
      
  //     margin-right: .7em;
  //     align-items: flex-end;
  //   }
  // }
  
  
  // .line2{
  //   display: flex;
    
  
  //   span{
  //     margin-left: 1em;
  //   }
  // }
  
  // }

  ion-icon{
    margin-right: .3em;
    
  }
  
  

  ion-label .heading {
      
    width: 100%;
    margin-left: 0;

    color: #74A6FF;
    
  }
 
  ion-label span{
    margin: 3px 6px;
    
  }