<app-header></app-header>

<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-margin-top">
        <ion-text color="primary">
          Booking History
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="dark" class="ion-padding history_table" >
          <div class="card">
            <b>Seat no</b>

            <b>Date</b>
            <b>Type</b>
            <b>Time slot</b>
          </div>
        </ion-card>
        <ion-card color="dark" class="ion-padding ">
          <div class="card ">
            <b>A31</b>

            <b>20/11/21</b>
            <b>2 days</b>
            <b>10-11am</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
          <div class="card table">
            <b>A21</b>

            <b>22/11/21</b>
            <b>1 days</b>
            <b>4pm-6pm</b>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
