<app-header></app-header>
<ion-content>
  <div class="head1"><h2>Booking History</h2></div>

  <!-- <div class="container">
    <div class="line1">
      <h5 class="heading">Booking Name</h5>
      <p class="date">16/07/2022</p>
    </div>

    <div class="line2">
      <span><ion-icon name="bed-outline"></ion-icon>A21</span>
      <span><ion-icon name="time-outline"></ion-icon>12:00 PM - 07:00 PM</span>
      <span><ion-icon name="calendar-outline"></ion-icon>2 Days</span>
    </div>
  </div> -->

  <!-- ion list -->

  <ion-item>
    <ion-label>
      <ion-label class="heading"> Booking Name </ion-label>

      <ion-label><p class="date">16/07/2022</p></ion-label>

      <ion-label class="icon">
        <span><ion-icon name="bed-outline"></ion-icon>A21</span>
        <span
          ><ion-icon name="time-outline"></ion-icon>12:00 PM - 07:00 PM</span
        >
        <span><ion-icon name="calendar-outline"></ion-icon>2 Days</span>
      </ion-label>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-label class="heading"> Booking Name </ion-label>

      <ion-label><p class="date">16/07/2022</p></ion-label>

      <ion-label class="icon">
        <span><ion-icon name="bed-outline"></ion-icon>A21</span>
        <span
          ><ion-icon name="time-outline"></ion-icon>12:00 PM - 07:00 PM</span
        >
        <span><ion-icon name="calendar-outline"></ion-icon>2 Days</span>
      </ion-label>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
      <ion-label class="heading"> Booking Name </ion-label>

      <ion-label><p class="date">16/07/2022</p></ion-label>

      <ion-label class="icon">
        <span><ion-icon name="bed-outline"></ion-icon>A21</span>
        <span
          ><ion-icon name="time-outline"></ion-icon>12:00 PM - 07:00 PM</span
        >
        <span><ion-icon name="calendar-outline"></ion-icon>2 Days</span>
      </ion-label>
    </ion-label>
  </ion-item>




  <ion-item>
    <ion-label>
      <ion-label class="heading"> Booking Name </ion-label>

      <ion-label><p class="date">16/07/2022</p></ion-label>

      <ion-label class="icon">
        <span><ion-icon name="bed-outline"></ion-icon>A21</span>
        <span
          ><ion-icon name="time-outline"></ion-icon>12:00 PM - 07:00 PM</span
        >
        <span><ion-icon name="calendar-outline"></ion-icon>2 Days</span>
      </ion-label>
    </ion-label>
  </ion-item>

  <!-- <div class="container">
  <div class="line1">
    <h5 class="heading">Booking Name</h5>
    <p class="date">16/07/2022</p>
  </div>

  <div class="line2">
    <span><ion-icon name="bed-outline"></ion-icon>A21</span>
    <span><ion-icon name="time-outline"></ion-icon>12:00 PM - 07:00 PM</span>
    <span><ion-icon name="calendar-outline"></ion-icon>2 Days</span>
  </div>
</div>
<div class="container">
  <div class="line1">
    <h5 class="heading">Booking Name</h5>
    <p class="date">16/07/2022</p>
  </div>

  <div class="line2">
    <span><ion-icon name="bed-outline"></ion-icon>A21</span>
    <span><ion-icon name="time-outline"></ion-icon>12:00 PM - 07:00 PM</span>
    <span><ion-icon name="calendar-outline"></ion-icon>2 Days</span>
  </div>
</div>

<div class="container">
  <div class="line1">
    <h5 class="heading">Booking Name</h5>
    <p class="date">16/07/2022</p>
  </div>

  <div class="line2">
    <span><ion-icon name="bed-outline"></ion-icon>A21</span>
    <span><ion-icon name="time-outline"></ion-icon>12:00 PM - 07:00 PM</span>
    <span><ion-icon name="calendar-outline"></ion-icon>2 Days</span>
  </div>
</div> -->
</ion-content>
