<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <img src="/assets/logo.png" alt="">
    <div class="email">
      <ion-icon name="person"></ion-icon>
      <input type="email" value="Enter email">
    </div>
    <div class="email">
      <ion-icon name="key"></ion-icon>
      <input type="password" value="Enter password">
    </div>
    <button type="submit">Log In</button>
    <br>
    <a href="#">Forgot Password</a>
    <div class="social-links">
      <ion-icon name="logo-google"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
    </div>
  </form>
</ion-content>
