section {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-color: #4f7fed;
  #logo {
    margin-top: 50px;
    height: 100%;
    width: 100%;
  }
  #form {
    margin-top: 50px;
  }
  ion-input {
    color: var(--ion-true-dark);
  }
  ion-card {
    margin-bottom: 20px;
    background-color: #ffffff;
    height: 55px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    padding: 8px;
    ion-input {
      --placeholder-color:grey;
      font-size: 19px;
      font-weight: 400;
      box-sizing: border-box;
      color: rgb(155, 154, 154);
      .pwd-icon-box {
        background-color: transparent;
        color:grey;
      }
    }
    #eye {
      font-weight: 900;
      font-size: 27px;
    }
  }
  .login_btn {
    border-radius: 5px;
    margin-top: 2rem;
    height: 3rem;
    font-size: var(--small);
   
  }
  .fogotPass {
    color:white;
    font-size: 20px;
    font-weight: 500;
    &:hover {
      color: var(--ion-text-color-1);
    }
  }
  #social-icon {
    width: 59px;
    height: 45px;
    border-radius: 25px;
    background-color: transparent;
    margin: 0px 30px;
    color: white;
    ion-icon {
      font-size: 40px;
      font-weight: 900;
    }
  }
  .create-account {
    margin: auto;
    padding: 30px 0px;
   ion-text {
      font-size: 18px;
      color:white;
      letter-spacing: 1.2px;
      font-weight: 500;
      span {
        text-decoration: none;
        color: var(--ion-color-secondary);
      }
    }
  }
}

.input-wrap {
  border: 2px solid #4f7fed;
  border-radius: 15px;
}
.input-reverse {
  display: flex;
  flex-direction: row-reverse;
}
--ion-padding-vertical {
  padding: 25px 0;
}
.main-row {
  min-height: 100vh;
  height: 100%;
  overflow: scroll;
  padding: 50px 30px;
}
.pwd-icon-box {
  line-height: 25px;
  font-size: 22px;
  height: 100%;
  display: flex;
}
