<app-header pannel="others"></app-header>
<ion-content>
  <ion-list class="mt-2">
    <ion-item>
      <ion-select expand="full" placeholder="Choose Section">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="d-flex align-items-center px-3 my-4">
    <div class="d-flex align-items-center">
      <div class="boxElementBooked"></div>
      <div class="px-2 Fredoka400">Booked</div>
    </div>
    <div class="d-flex align-items-center">
      <div class="boxElementAvailable"></div>
      <div class="px-2 Fredoka400">Available</div>
    </div>

  </div>
  <div class="grid-container">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1" class="disableSeat">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1" class="disableSeat">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1" class="disableSeat">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1" class="disableSeat">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">
    <input type="text" disabled value="A1">



  </div>
</ion-content>