<app-header pannel="others"></app-header>
<ion-content>
  <div class="container">
    <p id="heading">
      Select Seat
    </p>
    <div class="scale">
      <div class="available">
        <p class="normal">Available</p>
        <div class="box" style="margin-left: 10px;"></div>    
      </div>
      <div class="available">
        <div class="box" id="booked"></div>
        <p class="normal" >Booked</p>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div>A1</div>
    <div>A2</div>
    <div>A3</div>  
    <div>A4</div>
    <div>A5</div>
    <div>A6</div>
    <div>A7</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
    <div>A8</div>
  </div>
</ion-content>
