*{
    font-family: "Poppins",sans-serif;
}
ion-item.logout {
  width: auto !important;
  max-width: 50px;
  float: right;
  background: transparent !important;
}ion-icon.logout {
  color: #fff !important;
}
ion-item.logout {
  --background: transparent !important;
}
ion-title.md.title-default.hydrated {
  width: 80%;
}
