<!-- <ion-header>
  <ion-toolbar color="primary ">
    <ion-title></ion-title>
    <ion-buttons slot="start" class="ion-padding-end" *ngIf="pannel ==='others'" >
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="pannel ==='home'">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-icon
      name="notifications-outline"
      class="notification"
      slot="end"
      routerLink="/notification"
    ></ion-icon>
  </ion-toolbar>
</ion-header> -->
<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <img width="45px" src="assets/headerNagivation.png" alt=""> -->
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>