<app-header title="Add your details"></app-header>
<ion-content color="dark">
  <ion-modal class="exchange_Seat" [isOpen]="isModalOpen">
    <ng-template>
      <ion-content color="dark">
        <div class="card">
          <ion-datetime locale="en-GB-u-hc-h12"></ion-datetime>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- <div class="comfortaa fw700 fs-20 text-center py-3 t-grey">Add your details</div> -->
  <form action="" [formGroup]="addAdmissionForm" (ngSubmit)="addAdmission()">
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input placeholder="Enter text" formControlName="fullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Father Name</ion-label>
      <ion-input placeholder="Enter text" formControlName="fatherName"></ion-input>
    </ion-item>

    <ion-item id="custom-item" counter="true">
      <ion-label position="floating" >Address</ion-label>
      <ion-input maxlength="20" formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mobile No</ion-label>
      <ion-input placeholder="Enter text" formControlName="mobileNo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Date of birth</ion-label>
      <ion-input placeholder="Enter text" formControlName="dateOfBirth"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select interface="popover" placeholder="Gender" formControlName="gender">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="others">others</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select interface="popover" placeholder="Select Plan" formControlName="selectPlan">
        <ion-select-option value="Weekly">Weekly</ion-select-option>
        <ion-select-option value="Monthly">Monthly</ion-select-option>
        <ion-select-option value="yearly">yearly</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Start Date</ion-label>
      <ion-input placeholder="Enter text" formControlName="startDate" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-select interface="popover" placeholder="Select a batch" formControlName="batchSlot">
        <ion-select-option value="7pm - 8pm">7pm - 8pm</ion-select-option>
        <ion-select-option value="9pm - 10pm">9pm - 10pm</ion-select-option>
        <ion-select-option value="10pm - 11pm">10pm - 11pm</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-input placeholder="Enter text" formControlName="batchSlot"></ion-input>
   


    <div class="px-3 pt-5">
      <ion-button type="submit" slot="center" expand="full" shape="round" color="primary" fill="solid">Select Your Seat</ion-button>
    </div>


  </form>

</ion-content>