
<ion-content class="ion-padding" color="dark">
  <ion-modal [isOpen]="isModalOpen">
    <ng-template >
      <ion-content color="dark">

        <div class="card">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text> <ion-icon name="help-circle"></ion-icon>Are you sure you want to logout now?</ion-text>
                
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col>
              <ion-button  routerLink="/login" (click)="setOpen(false)" >Yes</ion-button>
              <ion-button color="danger" routerLink="/home" (click)="setOpen(false)">no</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <h3>Menu</h3>
      </ion-toolbar>
    </ion-header>
    <!-- <ion-content color="dark">
      <ion-list>
        <div class="items" routerLink="/edit-profile" (click)="close()">
          <ion-icon name="person-circle-outline"></ion-icon> <b>Profile</b>
        </div>

        <div  (click)="close()" class="items" routerLink="/history" >
          <ion-icon name="document-text-outline"></ion-icon>
          <b>Booking history</b>
        </div>
        <div (click)="close()"  class="items" (click)="setOpen(true)" >
          <ion-icon name="log-out-outline" ></ion-icon> <b>Logout</b>
        </div>
        <div  (click)="close()" class="items"  routerLink="/feedback" >
          <ion-icon name="alert-outline" ></ion-icon> <b>Report an issue</b>
        </div>
      </ion-list>
    </ion-content> -->
    <ion-content color="dark">
      <ion-list>
        <ion-item (click)="close()" routerLink="/edit-profile">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
        <ion-item (click)="close()" routerLink="/history">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label>Booking history</ion-label>
        </ion-item>
        <ion-item (click)="close()" (click)="setOpen(true)">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
        <ion-item (click)="close()" routerLink="/feedback">
          <ion-icon name="alert-outline" slot="start"></ion-icon>
          <ion-label>Report an issue</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
