<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <h3>Menu</h3>
      </ion-toolbar>
    </ion-header>
    <ion-content color="dark">
      <ion-list>
        <div class="items">
          <ion-icon name="person-circle-outline"></ion-icon> <b>Profile</b>
        </div>

        <div class="items">
          <ion-icon name="document-text-outline"></ion-icon>
          <b>Booking history</b>
        </div>
        <div class="items">
          <ion-icon name="log-out-outline"></ion-icon> <b>Logout</b>
        </div>
        <div class="items">
          <ion-icon name="alert-outline"></ion-icon> <b>Report an issue</b>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
