

<ion-content class="ion-padding">
    <ion-button color="primary" expand="block">
    <ion-label *ngIf="!selectorSeva.value">Select seva</ion-label>
    <ion-select ok-text="Okay" cancel-text="Cancel" #selectorSeva (ionChange)="onSevaSelect()" [(ngModel)]="selectedSeva">
      <ion-select-option *ngFor="let seva of sevaList;" [value]="seva">{{ seva.name }} </ion-select-option>
    </ion-select>
  </ion-button>
<ion-text color="primary" class="ion-no-padding ion-text-center" *ngIf="showDates">
  <h2>Choose a date for booking</h2>
</ion-text>
<div class="ion-padding date-container" *ngIf="showDates">
  <mat-card class="demo-inline-calendar-card mat-elevation-z" >
    <mat-calendar color="primary" [dateFilter]="myHolidayFilter" (click)="validateDate()" [(selected)]="selected"></mat-calendar>
  </mat-card>
<p class="text-white">{{selected}}</p>
</div>
<ion-item lines="none" *ngIf="showTime">
  <ion-range [value]="selectedTimings" [(ngModel)]="selectedTimings" style="--bar-height : 5px; --knob-background: #648cff" [pinFormatter]="customFormatter" snaps="true" ticks="true" id="dual-range" min="00:00" max="24:00" step="1" mode="ios" dual-knobs pin color="primary">
  </ion-range>
</ion-item>
<ion-item lines="none" *ngIf="timingError.active">
<ion-text color="danger" >
  <p>{{ timingError.msg }}</p>
</ion-text>
</ion-item>
<ion-grid class="slots-section" *ngIf="showSlots">
  <ion-row>
    <ion-col size="12">
      <ion-list-header>Select slot</ion-list-header>
        <ion-grid fixed>
          <ion-row>
              <ion-col size="4" *ngFor="let slot of slotList;">
                  <ion-chip [id]="slot.id" [disabled]="checkIsDisabled(slot.id)" (click)="selectSlot(slot)" color="primary">
                    <ion-icon name="checkmark-circle" *ngIf="slot.id === selectedSlot?.id"></ion-icon>
                    <ion-label>{{ slot.name }}</ion-label>
                  </ion-chip>
              </ion-col>
          </ion-row>
        </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" *ngIf="selectedSlot">
      <ion-button expand="block" (click)="bookSevaHandler()">Book seva</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
