ion-grid.slots-section.md.hydrated {
  background: #f9f9f9;
  margin: 25px 15px auto;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
}

.ion-padding.date-container {
  margin: auto 15px;
  background: #3880ff;
  border-radius: 15px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}mat-card.mat-card {
  background: transparent;
  color: #fff !important;
}
 thead.mat-calendar-table-header {
  color: #fff !important;
}
 tbody.mat-calendar-body * {
  color: #fff !important;
}
button.mat-calendar-body-cell.mat-calendar-body-disabled {
  opacity: 0.3;
}
ion-chip {
  width: 100%;
  display: flex;
  justify-content: center;
}
