<ion-content class="login-screen" color="light">
  <section>
    <ion-grid>
      <ion-row>
        <ion-col size="3" offset="4.5">
          <ion-img src="assets/logo.png" id="logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row id="form">
        <ion-col size="11" offset="0.5">
          <form size="11" offset="0.5" [formGroup]="signupForm" >
            <ion-card>
              <ion-input type="text" placeholder="Username" autocomplete="off" autocorrect="off" autofocus="true"
                formControlName="username">
              </ion-input>
            </ion-card>
            <ion-card>
              <ion-input type="email" class="input-reverse ion-no-border" autocomplete="off" placeholder="Email"
                autocorrect="off" color="dark" formControlName="email" pattern="email" formControlName="email">

              </ion-input>
            </ion-card>
            <ion-card>
              <ion-input type="password" class="input-reverse ion-no-border" autocomplete="off" placeholder="Password"
                autocorrect="off" color="dark" formControlName="password" pattern="password" formControlName="password">

              </ion-input>
            </ion-card>
            <ion-button class="ion-margin login_btn" expand="block" fill="solid" size="large" color="primary"
              type="submit">
              Sign Up
            </ion-button>
          </form>
        </ion-col>
      </ion-row>


      <ion-row class="ion-text-center ion-margin-top">
        <ion-col>
          <button id="social-icon" (click)="authService.signInWithGoogle()">
            <ion-icon name="logo-google"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center ion-margin-top">
        <ion-col class="create-account">
          <ion-text>
            Already Hav An Account? <span routerLink="/signup">Sign Up</span>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
