<app-header></app-header>

<ion-content>
  <ion-content>
    <form>
      <img src="/assets/logo.png" alt="">
        <input type="text" value="Name">
        <input type="text" value="Email">
        <input type="password" value="Password">
        <input type="password" value="Confirm Password">
      <button type="submit">Sign Up</button>
      <br>
      <a href="#">Or Sign Up Using</a>
      <div class="social-links">
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
      </div>
    </form>
  </ion-content>
</ion-content>
