<ion-header>
  <ion-toolbar color="primary ">
    <ion-title>Mahavadanya</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-icon
      name="notifications-outline"
      class="notification"
      slot="end"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<section>
  <div color="primary" class="container">
    <div class="slot active">BOOK SLOT</div>
    <div class="slot">ACTIVE SLOT</div>
  </div>
  <h4 class="ion-text-center">  Payment Mode</h4>
  <ion-card>
    <ion-img src="../../assets/card.svg"></ion-img>
    <div class="payment_desc">
      <b>ATM Card</b>
      <small>Visa, MasterCard ,RuPay & More </small>
    </div>
  </ion-card>
  <ion-card>
    <ion-img src="../../assets/netbanking.svg"></ion-img>
    <div class="payment_desc">
      <b>NET Banking</b>
      <!-- <small>description </small> -->
    </div>
  </ion-card>
  <ion-card>
    <ion-img src="../../assets/upi.svg"></ion-img>
    <div class="payment_desc">
      <b>BHIM UPI</b>
      <!-- <small>description </small> -->
    </div>
  </ion-card>
  <ion-card>
    <ion-img src="../../assets/wallet.svg"></ion-img>
    <div class="payment_desc">
      <b>wallet</b>
      <!-- <small>description </small> -->
    </div>
  </ion-card>
</section>
</ion-content>
