ion-header{
    ion-title{
        font-family: var(--font-primary);
    }
  
}
.notification {
  margin-right: 30px;
  font-size: 21px;
}
section{
  font-family: var(--font-primary);

.container {
    display: flex;
    width: 100vw;
    height: 55px;
    background-color: var(--ion-color-primary);
    .slot {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(255, 255, 255, 0.475);
    }
    .active{
        background: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.395));
    }
  }
  h4{
    font-size: 18px;
    color: var(--ion-color-primary);
  }
  ion-card{
    width: 90vw;
    margin: 15px auto;
    height: 60px;
    border: 2px solid var(--ion-color-primary);
    padding: 0px 10px;
    border-radius: 15PX;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: flex-start;
  &:hover{
    background-color: var(--ion-color-primary);
    ion-img{
      background-color: var(--ion-color-primary);
      stroke: white;
      color: white;
      fill: white;
    }
    .payment_desc{
      color: white;
      font-family: var(--font-primary);
      margin-right: 20px;
      b{
        color: white;
        font-family: var(--font-primary);
      }
    }
  }
    ion-img{
      height: 40px;
      width: 40px;
      background-color: white;
      margin:0px 50px;
    }
    .payment_desc{
      display: flex;
      // align-items: center;
      flex-direction: column;
      gap:5px;
     
      b{
        font-size: 18px;
        color: var(--ion-color-primary);
      }
      small{
        color: var(--ion-color-primary);

      }
    }
  }
}