<app-header pannel="others" title="Profile"></app-header>


<div class="d-flex w-100 flex-column align-items-center h-100">
  <img width="100px" [src]="this.dataProviderr?.user?.photoURL"  alt="" class="my-5">
  <form action="" class="w-100" [formGroup]="editForm"  (ngSubmit)="updateProfile()">
    <ion-item>

      <ion-input placeholder="Name" formControlName="displayName"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input placeholder="Date of Birth" formControlName="dob"></ion-input>
    </ion-item>
    
    <ion-list>
      <ion-item>
        <ion-select placeholder="profession" class="w-100" formControlName="profession">
          <ion-select-option value="apples">Engneer</ion-select-option>
          <ion-select-option value="oranges">Docker</ion-select-option>
          <ion-select-option value="bananas">BusnessMan</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select placeholder="Gender" class="w-100" formControlName="gender">
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-input placeholder="Age" formControlName="age"></ion-input>
    </ion-item>
    <div class="px-3 pt-5">
      <ion-button type="submit" slot="center" expand="full" shape="round" color="primary" fill="solid">Update Profile
      </ion-button>
    </div>
  </form>
</div>
