<app-header pannel="others"></app-header>


<ion-list>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>
<!-- 
<ion-content color="dark" *ngIf="!editProfile">
  <section>
    <ion-grid>
      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center">
          <ion-label class="ion-margin edit" (click)="toggleEditProfile()">
            Profile</ion-label
          >
          <ion-avatar class="ion-text-center">
            <ion-img
              class="ion-text-center"
              [src]="dataProvider.userData?.photoURL"
            ></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="display-container">
            <ion-label>Name</ion-label>
            <ion-text> {{dataProvider.userData?.displayName}} </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="display-container">
            <ion-label>DOB</ion-label>
            <ion-text> {{dataProvider.userData?.dob? dataProvider.userData?.dob:'N/A'}} </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-col>
            <div class="display-container">
              <ion-label>Adhara Number</ion-label>
              <ion-text> {{dataProvider.userData?.adhar? dataProvider.userData?.adhar:'N/A'}} </ion-text>
            </div>
          </ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-col>
              <div class="display-container">
                <ion-label>Profession</ion-label>
                <ion-text> {{dataProvider.userData?.profession? dataProvider.userData?.profession:'N/A'}} </ion-text>
              </div>
            </ion-col>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="display-container">
            <ion-label>Age</ion-label>
            <ion-text> {{dataProvider.userData?.age? dataProvider.userData?.age:'N/A'}} </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="display-container">
            <ion-label>Gender</ion-label>
            <ion-text> {{dataProvider.userData?.gender? dataProvider.userData?.gender:'N/A'}} </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ion-padding">
          <ion-button class="ion-padding"  (click)="goToEditMode()" >
            Edit Profile
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content> -->
<!-- <ion-content color="dark" *ngIf="!editProfile">
  <section>
    <ion-grid>
      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center">
          <ion-label class="ion-margin edit">Edit Profile</ion-label>
          <ion-avatar class="ion-text-center">
            <ion-img
              class="ion-text-center"
              src="https://i.pravatar.cc/300"
            ></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
    <form [formGroup]="editForm" (ngSubmit)="submit()">
      <ion-row>
        <ion-col>
          <div class="display-container">
            <ion-item>
              <ion-label position="floating">Full Name</ion-label>
              <ion-input [formControlName]="displayName">ddd</ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="display-container">
            <div class="dob">
              <ion-item>
                <ion-label position="floating">D.O.B</ion-label>
                <ion-input formControlName="dob"></ion-input>
              </ion-item>
              <ion-icon
                id="icon"
                (click)="toggleOpen()"
                name="calendar-number-outline"
              ></ion-icon>
            </div>
            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
                <ion-content color="dark">
                  <div class="card">
                    <ion-datetime formControlName="dob" locale="en-GB-u-hc-h12"></ion-datetime>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="display-container">
            <ion-item>
              <ion-label position="floating">Aadhar Number</ion-label>
              <ion-input formControlName="aadharNo"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="dropdown-container">
              <ion-label>Profession</ion-label>
              <ion-select formControlName="profession"   placeholder="Select One">
                <ion-select-option>Teacher</ion-select-option>
                <ion-select-option>Student</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="display-container age">
            <ion-item>
              <ion-label position="floating">Age</ion-label>
              <ion-input formControlName="age" ></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="option-container">
            <ion-label>Gender</ion-label>
            <div class="gender">
              <ion-item>
                <ion-select placeholder="choose" formControlName="gender">
                  <ion-select-option ionFocus color="primary"
                    >Male</ion-select-option
                  >
                  <ion-select-option ionFocus color="primary"
                    >Female</ion-select-option
                  >
                  <ion-select-option ionFocus color="primary"
                    >Undefined</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center ion-padding">
          <ion-button class="ion-padding" type="submit" (click)=saveEdit>
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    </ion-grid>
  </section>
</ion-content> -->