<ion-content>
  <section>
    <div>
      <ion-img src="../../assets/logo.png" alt="Mahavadanya Logo" id="logo"></ion-img>
      <h1>Mahavadanya</h1>
    </div>
    <div>
      <form>
        <ion-item lines="none">
          <ion-icon name="person"></ion-icon>
          <ion-input
            type="email"
            placeholder="Email Address"
            autofocus="true"
          ></ion-input>
        </ion-item>
        
        <ion-button expand="block" routerLink="/" >Next</ion-button>
      </form>

    </div>
  
  </section>
</ion-content>
