
    #logo {
    width: 80px;
    margin: 0 auto;
  }

  h1 {
    font-family: var(--font-primary);
    text-transform: uppercase;
    color: var(--ion-color-secondary);
    color: #f9e00a;
    font-size: var(--large);
    text-align: center;
    margin: 1.5em 0 0 0;
  }

  