<ion-content>
  <section class="h-100 d-flex justify-content-evenly align-items-center flex-column w-100">
    <div>
      <ion-img src="../../assets/logo.png" alt="Mahavadanya Logo" id="logo"></ion-img>
      <h1>Mahavadanya</h1>
    </div>
    <div>
      <form>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Enter Email</ion-label>
          <ion-input placeholder="Enter Email"></ion-input>
        </ion-item>
      </ion-list>
        
        <ion-button type="submit" slot="center" expand="full" shape="round" color="primary" fill="solid" routerLink="/" >Next</ion-button>
      </form>

    </div>
  
  </section>
</ion-content>
