ion-content {
    section {
      background: radial-gradient(
        125.64% 60.5% at 50% 46.31%,
        var(--ion-color-primary) 0%,
        var(--ion-color-primary) 39.06%,
        rgba(25, 55, 165, 0.83) 100%
      );
      background: radial-gradient(
        125.64% 60.5% at 50% 46.31%,
        #1937a5 0%,
        #1937a5 39.06%,
        rgba(25, 55, 165, 0.83) 100%
      );
      min-height: 100vh;
      min-width: 100vw;
      padding: 2em;
      position: relative;
  
      #logo {
        width: 80px;
        margin: 0 auto;
      }
  
      h1 {
        font-family: var(--font-primary);
        text-transform: uppercase;
        color: var(--ion-color-secondary);
        color: #f9e00a;
        font-size: var(--large);
        text-align: center;
        margin: 1.5em 0 0 0;
      }
  
      form {
        margin: 3em 0;
  
        ion-item {
          border: 2px solid #7a98f1;
          box-shadow: var(--normal-shadow);
          border-radius: var(--normal-radius);
          margin-bottom: 1.5em;
  
          ion-icon {
            color: var(--ion-color-primary-contrast);
            color: #fff;
            margin-right: 0.5em;
          }
  
          ion-input {
            color: var(--ion-color-primary-contrast);
            color: #fff;
            padding: 1em;
            font-family: var(--font-primary);
            font-size: var(--medium);
            --placeholder-color: #c9c9c9;
            --placeholder-opacity: 1;
          }
        }
  
        ion-button {
          text-transform: uppercase;
          font-family: var(--font-primary);
          font-size: var(--medium);
          --border-radius: var(--normal-radius);
          margin: 0;
          height: fit-content;
          --padding-top: 1em;
          --padding-end: 1em;
          --padding-bottom: 1em;
          --padding-start: 1em;
          --box-shadow: var(--normal-shadow);
          --background: var(--ion-color-primary-contrast);
          --color: var(--ion-color-primary);
          --color: #1937a5;
        }
      }
  
      ion-button {
        text-transform: unset;
        font-family: var(--font-primary);
        font-size: var(--medium);
        margin: 0;
        height: fit-content;
        --border-radius: none;
        --padding-top: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-start: 0;
        --box-shadow: none;
        --background: transparent;
        --color: var(--ion-color-primary-contrast);
      }
  
      #other-sign-in-options {
        font-family: var(--font-primary);
        text-align: center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 2em;
  
        #sign-in-options {
            display: flex;
            justify-content: center;
            font-size: var(--medium);
  
            ion-img {
                width: 35px;
                margin: 0 .5em;
            }
        }
      }
    }
  }
  