/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts by Google */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('./assets/scss/Fonts.scss');
@import url('./assets/scss/Responsive.scss');
@import url('./assets/scss/Text.scss');


.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.fw300 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

.fw400 {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}

.fw500 {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}

.fw600 {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}

.fw700 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}



